body {
    background-color: rgb(29, 28, 28);
}

#board{
    width: 80vw;
    height: 80vh;
    background-color: rgb(29, 28, 28);
    position: absolute;
    left: 10%;
    top: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}

.puzzle{
    border-radius: 5px;
    background-color: burlywood;

    background-image: url("/static/img/1/full_01_01.png");
    background-size: cover;
}

#yeet {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: orange;
    margin: 0;
}

#choose {
    background-color: rgb(22, 20, 20);
    color: white;
}

#choose:active {
    outline: none;
    border: none;
    }
#choose:focus {
    outline: none;
    border: none;
}