<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Puzzle</title>
    <link rel="stylesheet" href="{{ url_for( 'static', filename='style.css') }}">
</head>
<body>
    <div id="zz">   <h1 id="yeet">Najlepsze strona z Puzzlami w Polsce</h1> </div> 
    <br>
    <select name="choose" id="choose">
        <option value="3">3x3</option>
        <option value="4">4x4</option>
        <option value="5">5x5</option>
    </select>
    <div id="board">
        <div class="puzzle" draggable="true"></div>
        <div class="puzzle" draggable="true"></div>
        <div class="puzzle" draggable="true"></div>
        <div class="puzzle" draggable="true"></div>

        <div class="puzzle" draggable="true"></div>
        <div class="puzzle" draggable="true"></div>
        <div class="puzzle" draggable="true"></div>
        <div class="puzzle" draggable="true"></div>

        <div class="puzzle" draggable="true"></div>
        <div class="puzzle" draggable="true"></div>
        <div class="puzzle" draggable="true"></div>
        <div class="puzzle" draggable="true"></div>


    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>